@import url('https://fonts.googleapis.com/css?family=Nunito:300');
*{margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Poppins',sans-serif;}
 input{font-size: xx-large;}
 body{min-height:100vh;
 background:#18171c;
color: aliceblue;}

.inputSubmit{transform:translateY(4vh);transform:translateX(3vh);}
header{position:absolute;}
 header{position:absolute;
  top:0;
  left:0;
  width:100%;
  padding:30px 100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:10000;}
  
  header{position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:30px 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:10000;}
    
    header .logo{color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing:2px;}
    
    header ul{display:flex;
    justify-content: center;
    align-items: center;}
    
    header ul li{list-style:none;
    margin-left:20px;}
    
    header ul li a{text-decoration:none;
    padding:6px 15px;
    color:#fff;
    border-radius: 20px;}
    
    header ul li a:hover{
    background:#fff;
    color:#2b1055;}

.nionio{padding-top: 19vh;padding-left: 5vh;}

div{ 
  text-decoration:none;
  background: rgba(0,0,0,0.7);
  color: #fff;
  display:inline-block;
  border-radius: 40px;
  padding:8px 30px}

body{font-size: x-large;}
#icao{transform:translateX(70vh);}
#ciaosito{width:7vh; height:7vh;border-radius: 60%;background-color: #1d0d36;}
.oaic{transform:translateX(-5vh)}
li{font-size: xx-large;}
.fofo{text-decoration: none;color: antiquewhite;}
form{transform:translateY(30vh)}