*{margin:0; padding:0;  font-family:Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
    box-sizing:border-box;}
    
    .inner-width{max-width:1200px; margin:auto; padding:0 20px;}
    
    
    .testimonial-section h1{text-align:center; color:#333; font-size:24px;margin:50vh ;}
    .border{width:100px; height:3px; background:#333; margin:40px auto;}
    #ciaosito{width:7vh; height:7vh;border-radius: 60%;background-color: #1d0d36;}
    .testimonial{background:#f1f1f1; padding:40px; overflow:hidden; border-radius:8px; cursor:pointer;}
    
    .test-info{display:flex; height:60px; align-items:center;}
    
    .test-pic{width:50px; border-radius:50%; margin-right:15px; max-width: 30%;}
    
    .test-name{font-size:12px; color:#333;}
    
    .test-name span{display:block; font-size:14px; font-weight:700; color:#3498db;}
    
    .testimonial p{font-size:12px; line-height:22px; margin-top:20px;}
    
    .border1{margin:40px auto;}
    
    
    #con{ margin:1em; text-decoration:none; background: rgba(0,0,0,0.4);display:inline-block;
    border-radius: 40px; padding:8px 30px;
    }  