<!DOCTYPE html>

<html lang="it">
     <link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
     <link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
<head>
     <title>Cerca_Municipio</title>
</head>
<header>
     <div>
        <a href="/" class="fofo"> <ul>
             <img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png" alt="">
 <li> Sonenk</li>
         </ul></a>
         </div>
    <a href="javascript:history.go(-1);"><h1>ritorna alla pagina precedente</h1></a>
</header>


<form action="/Mappa_Municipio_Ristoranti" method="GET" id="nomii">
    <style type="text/css">
    #municipio{width: 350px;}
    </style>
   <input type="number" name="Municipio" min="1" max="9" placeholder="inserisci un municipio:" id="municipio" required/>
   <input type="submit" />
</form>

</html>