<head>
    <link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
    <title>Cerca_Posto</title>
</head>

<link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
<link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
<header>
    <div>
        <a href="/" class="fofo" > <ul>
             <img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png" alt="">
 <li> Sonenk</li>
         </ul></a>
         </div>
    <a href="javascript:history.go(-1);"><h1>ritorna alla pagina precedente</h1></a>
</header>
<form id="fromRes" action="/Mappa_Posto" method="GET">
    <style type="text/css">
        #posto{width: 750;}
    </style>
    <input type="text" name="Posto" placeholder="Inserisci un posto che vuoi andare(bar; fast food...) :" id="posto" required/>
    <input type="submit">
</form>