<link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
<header>
    <a href="/" class="logo">Home</a>
    <a href="javascript:history.go(-1);"><h1>ritorna alla pagina precedente</h1></a>
</header>
<form action="/Mappa_Posto" method="GET">
    <style type="text/css">
        #posto{width: 1300;}
    </style>
    <input type="text" name="Posto" placeholder="Inserisci un posto che vuoi andare(bar; ristorante; fast food...) oppure il nome del ristorante:" id="posto" required/>
    <input type="submit">
</form>