<link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
<header>
    <a href="/" class="logo">Home</a>
    <a href="javascript:history.go(-1);"><h1>ritorna alla pagina precedente</h1></a>
</header>

<form action="/Mappa_Ristoranti_Municipio" method="GET">
    <style type="text/css">
        #ristorante{width: 400;}
        #municipio{width: 400;}
    </style>
    <input type="text" name="Ristorante" placeholder="inserisci un ristorante:" id="ristorante" required/>
    <input type="number" name="Municipio" min="1" max="9" placeholder="inserisci un municipio:" id="municipio" required/>
    <input type="submit">
</form>