<link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
<link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
<header>
    <div>
        <a href="/" class="fofo"> <ul>
             <img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png">
 <li> Sonenk</li>
         </ul></a>
         </div>
    <a href="javascript:history.go(-1);"><h1>ritorna alla pagina precedente</h1></a>
</header>
<div id="nui">
    {{Nome_Ristoranti|safe}}
</div>
<form action="/Mappa_Nome_Ristorante" method="GET" id="nomii" class="nomii2">
    <style type="text/css">
        .ristorante{
            width: 450;
        }
        </style>

    <input  name="Nome" type="text" placeholder="inserisci il nome del ristorante:" id="ristoranti" class="ristorante"required/>
    <input type="submit" id="ristoranti">
</form>