<link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
<link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
<header>
    <div>
        <a href="/" class="fofo"> <ul>
             <img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png">
 <li> Sonenk</li>
         </ul></a>
         </div>
    <a href="javascript:history.go(-1);"><h1>ritorna alla pagina precedente</h1></a>
</header>
    <div id="nui">
        {{Quartieri|safe}}
    </div>
<form action="/Mappa_Quartiere_Ristoranti" method="GET" id="nomii2" class="nomii2">
    <style type="text/css">
        #quartiere{width: 350;}
        </style>

    <input  name="Quartiere" type="text" placeholder="inserisci un quartiere:" id="quartiere" required/>
    <input type="submit">
</form>