<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: black;}
        h1{color: antiquewhite;text-align: center;font-size: 10vh;}
        #gi{margin:1em;
            text-decoration:none;
            display:inline-block;
            text-align: center;
            transform:translateY(10vh);
            padding:8px 30px; background:#fff;
            color:#2b1055;}
            </style>
</head>
<body>
        <pre>
    <h1>{{Errore}}
ritorna alla pagina precedente
    </h1>
</pre>
<a href=""></a>
</body>
</html>