<a href="/mappa_milano"> Visualizzare la mappa di Milano</a><br>
<a href="/Numeri_Ristoranti"> Il grafico di numeri dei ristoranti per ogni quartiere</a><br>
<a href="/Cerca_Quartiere"> Inserisci il nome di un quartiere e puoi visualizzare la mappa dei ristoranti in quel quartiere</a><br>
<a href="/Cerca_Municipio"> Inserisci il nome di un municipio e puoi visualizzare la mappa dei ristoranti in quel municipio</a><br>
<a href="/Menu_Ristorante"> Menu ristorante</a><br>
<a href="/Cerca_Posto"> inserisci un tipo di posto che vuole andare(bar; ristorante...) oppure il nome del ristorante e puoi visualizzare la mappa dei ristoranti</a><br>
<a href="/Cerca_Ristoranti">puoi inserire il nome del ristorante che vuoi cercare e anche l'area che sta, poi presenta tutti i ristoranti che si trova in quel posto</a><br>    