<a href="/mappa_milano"> Visualizzare la mappa di Milano</a><br>
<a href="/Numeri_Ristoranti"> Il grafico di numeri dei ristoranti per ogni quartiere</a><br>
<a href="/Cerca_Quartiere"> Inserisci il nome di un quartiere e puoi visualizzare la mappa dei ristoranti in quel quartiere</a><br>
<a href="/Cerca_Municipio"> Inserisci il nome di un municipio e puoi visualizzare la mappa degli ristoranti in quel quartiere</a><br>
<a href="/Menu_Ristorante"> Menu ristorante</a><br>
<a href="/Cerca_Posto"> l'utente inserisce un tipo di posto che vuole andare(bar; ristorante...)</a><br>
