<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HTML basics</title>
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
        <link rel="stylesheet" href="static/css/Esercizio1/link_Pr(2).css">
        <link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
        <script src="static/js/Esercizio1/Popup.js"></script>

    </head>

    <body id="primo_strato"style=" font-family: 'Nunito', sans-serif;background-color: #1d1e61" onload="checkCookie()">
        <header>
<div class="oaic">
    <a href="/" class="fofo"> <ul>
            <img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png" alt="">
<li> Sonenk</li>
        </ul></a>
        </div>
        </header>
        
        



       <div id="cio" class ="testimonial-section" style="border-radius: 40px; background:rgba(0,0,0,0.4);">
       <div class="inner-width">
        <pre id="ino"><h1> clicca qui vedrai il nostro operato</h1></pre>
        
        <div class="border" style="color: aliceblue;"></div>
        
        <div class="slides owl-carousel">
            <a href="/Mappa"><div class="testimonial">
                <div id="si"class="test-info">
                    <div class="test-name">
                        <span>mappa di milano</span>
                    
                    </div>
                </div>
                <pre>
                    
Visualizzazione di milano 

                </pre>
            </div></a>
            <a href="/Numeri_Ristoranti"> <div class="testimonial">
                <div class="test-info">
                    <div class="test-name">
                        <span>grafici</span>
                    
                    </div>
                </div>
                <pre>
                           
Numero di  Ristoranti per ogni quartiere
(grafico a barre)
                </pre>
            </div></a>
            <a href="/Cerca_Quartiere"><div class="testimonial">
                <div class="test-info">
                    <div class="test-name">
                        <span>cerca quartieri da visitare</span>
                        
                    </div>
                </div>
                <pre>
     
Inserimento quartiere e visualizazzione mappa 
dei ristoranti in quel quartiere
                </pre>
            </div></a>
            <a href="/Cerca_Municipio"> <div class="testimonial" >
                <div class="test-info">
                    <div class="test-name">
                        <span>Cerca Municipi</span>
                    
                    </div>
                </div>
                <pre>     
inserisci un municipio e trova
i ristoranti di quel municipio
                </pre>
            </div></a>
            
            <a href="/Cerca_Posto"> <div class="testimonial" >
                <div class="test-info">
                    <div class="test-name">
                        <span>inserisci un posto in cui vuoi andare</span>
                    
                    </div>
                </div>
                <pre>
inserisci un posto in cui vorresti andare
 o il nome del ristorante

                </pre>
            </div></a>
           
            <a href="/Cerca_Ristoranti"> <div class="testimonial" >
                <div class="test-info">
                    <div class="test-name">
                        <span>Cerca il tipo di ristorante in cui vuoi andare</span>
                    
                    </div>
                </div>
                <pre>

inserisci   Quartiere oppure il munucipio in cui 
vuoi trovare bar,ristoranti ecc...
                </pre>
            </div></a>
        
            <a href="/Cerca_Nome_Ristorante"> <div class="testimonial" >
                <div class="test-info">
                    <div class="test-name">
                        <span>Cerca il nome del ristorante in cui vuoi andare</span>
                    
                    </div>
                </div>
                <pre>

inserisci il nome del ristorante in cui 
vuoi cercare
                </pre>
            </div></a>
        </div>
       </div>
    </body>
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{items:1},
                680:{items:2},
                960:{items:3},
                1.240:{items:4}
              }
            });
    </script>
</html>
