
<link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
<link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
<body style="background-color:#18171c ;">
<header>
    <div>
        <a href="/" class="fofo"> <ul>
             <img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png">
 <li> Sonenk</li>
         </ul></a>
         </div>
    <a href="javascript:history.go(-1);"><h1>ritorna alla pagina precedente</h1></a>
    
</header>

<footer>
    
    <pre style="padding-top: 14vh;">
        <img id="LaMappa" src="/mappa_milano">
    </pre>
</footer>
</body>