<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">
    <link rel="stylesheet" href="static/css/Esercizio1/presentazione.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/imgPr_Finale/bel3.ico" />
    <title>Sonenk</title>
    </head>

<body>
    <header>
        <div>
       <a href="/" class="fofo"> <ul>
            <img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png">
<li> Sonenk</li>
        </ul></a>
        </div>
    </header>
    <section>
        <img style="filter:brightness(80%);" src="static/images/imgPr_Finale/occupazione-suolo-pubblico.webp"
            id="cipolla">
        <pre>  <div class="noi_noi" style="position:absolute; top:37vh; left:50vh" >
Questo sito si occupa di visualizzare grafici e mappe di occupazioni 
pubbliche di ristoranti,bar,osterie è tanto altro,tutto questo di Milano.

<p id="cooc">Sito Web Di :Song Alfio & Enki E. Papes</p></pre>
        </div>
        <pre class="coi_coi">
        <a href="/Home" id="gi">per sapere di più</a>
        </pre>
    </section>
    </div>
<footer>
<pre style="padding-top: 10vh;">

</pre>
<!-- alksjjjjjjjjjjjjjjjdlaksjdlaskdjlaskdjalskjdlaksjdlaksdjlaksjdlaskdjlaskjdlaskjdlskdjlaksjdlaksdj-->

<div class="box" >

    <img src="static/images/imgPr_Finale/WhatsApp Image 2022-06-01 at 14.26.19 (1).jpeg" class="box-img">
    <h1 id="oioio">progettisti <br> [Enki E. Papes]</h1><br>
  <br>
  <p class="pfr">
  Questo sito web è usato per cercare i ristoranti in area di Milano</p>

</div>

<!-- alksjjjjjjjjjjjjjjjdlaksjdlaskdjlaskdjalskjdlaksjdlaksdjlaksjdlaskdjlaskjdlaskjdlskdjlaksjdlaksdj-->


<div class="box" >
  <img src="static/images/imgPr_Finale/WhatsApp Image 2022-06-01 at 14.26.19.jpeg"class="box-img">
    <h1 id="oioio">progettisti <br> [Song Alfio]</h1><br>
  <br>
  <p class="pfr">
  Questo sito web è usato per cercare i ristoranti in area di Milano</p>


</div>
</footer>
</body>
</html>