<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="#" id="button"></a>
    <header>
        <a href="#" class="logo">Logo</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">accedi</a></li>
            <li><a href="#">preferiti</a></li>
        </ul>
    </header>
    <section>
        <img style="filter:brightness(80%);" src="static/images/imgPr_Finale/occupazione-suolo-pubblico.webp"
            id="cipolla">
        <pre>  <div class="noi_noi" style="position:absolute; top:37vh; left:50vh" >
Questa possibilità si deve al posizionamento assoluto che consente 
di astrarre il CSS dal flusso dei dati, consentendo di posizionarlo
in qualsiasi punto della pagina, in modo assolutamente indipendente
 dagli altri elementi, che anzi possono venire sovrapposti o 
                                        sottoposti.
                                    </pre>
        </div>
        <pre class="coi_coi">
        <a href="#" id="gi">per sapere di piu</a>
        </pre>
    </section>
    </div>

    <div id="icco">
        <pre class="nouvo">
            <a href="/Numeri_Ristoranti" id="gi">ciaogdgsfgdfgdf</a>
    </pre>
    </div>
</body>

</html>