<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="static/css/Esercizio1/sito1nice.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<script>
    function setCookie(cname,cvalue,exdays){
    var d = new Date();
    d.setTime(d.getTime()+(exdays*24*60*60*1000));
    var expires = "expires="+d.toGMTString();
    document.cookie = cname+"="+cvalue+"; "+expires;
}

    </script>
<body onload="checkCookie()">
    <header>
        <ul>
            <a href="/"><img id="ciaosito" src="/static/images/imgPr_Finale/png-transparent-fate-zero-fate-stay-night-shirou-emiya-archer-saber-rider-leaf-heart-symmetry.png" alt="">
<li>Sonenk</a></li>
        </ul>
    </header>
    <section>
        <img style="filter:brightness(80%);" src="static/images/imgPr_Finale/occupazione-suolo-pubblico.webp"
            id="cipolla">
        <pre>  <div class="noi_noi" style="position:absolute; top:37vh; left:50vh" >
Questo sito si occupa di visualizzare grafici e mappe di occupazioni 
pubbliche di ristoranti,bar,osterie è tanto altro,tutto questo di Milano.

<p id="cooc">Sito Web Di :Song Alfio & Enki E. Papes</p></pre>
        </div>
        <pre class="coi_coi">
        <a href="/Home" id="gi">per sapere di più</a>
        </pre>
    </section>
    </div>
</body>

</html>